/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}

header {
    background: transparent !important;

}

.navbar {
    padding: 0 !important;
}

nav ul li a {
    color: #ad9741 !important;
}

nav {
    background-color: #000000;
    /*min-height: 85px;*/
    color: white;
    opacity: 0.7;
    z-index: 99999 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: black !important;
    border: 0;
    margin-top: -11px;
    padding-top: 15px !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    overflow: visible;
    position: inherit;
}

.top-div {
    font-size: 14px;
    background-color: black;
    color: white;
    padding-top: 10px;
}

.top-div p .fa-map-marker{
    margin-left: 4%;
}

.top-div p i {
    margin-right: 0.5%;
    margin-left: 3%;
    color: #c6b52d;
}

/* Ow; Slider CSS*/

#owl-demo {
    z-index: 30;
}

.owl-wrapper {
    positon: relative;
}

.owl-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff !important;
}

.owl-img {
    width: 100%;
}

.owl-text-overlay {
    position: absolute;
    text-align: center;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    border-radius: 15px 50px 30px 5px;
}

h2.owl-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

p.owl-caption {
    font-size: 18px;
    line-height: 24px;
}

.owl-theme .owl-controls .owl-page span:active {
    background: #fff !important;
}

/* hide previous and next */

.owl-buttons {
    visibility: hidden;
    display: none;
}

/*  Text section    */

#text-content {
    text-align: center;
    padding-top: 5%;
}

#text-content h2 {
    font-size: 42px;
    font-family: Ubuntu;
    line-height: 48px;
    font-weight: 300;
}

#text-content hr {
    border: none;
    height: 3px;
    width: 10%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #B6BF18; /* Modern Browsers */
}

#img-sec .column {
    float: left;
    width: 33.33%;
    position: relative;
}

/* Clearfix (clear floats) */
#img-sec .row::after {
    content: "";
    clear: both;
}

#img-sec .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
    border-bottom: 2px solid red;
}

#text-content2 {
    text-align: center;
    padding-top: 5%;
}

#text-content2 h2 {
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 48px;
    font-weight: 300;
}

#text-content2 hr {
    border: none;
    height: 3px;
    width: 10%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #B6BF18; /* Modern Browsers */
}

#img-sec2 .column2 {
    float: left;
    width: 25%;
    position: relative;
}

#img-sec2 .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
    border-bottom: 2px solid red;
}

.footer {
    background-color: #2D2B30;
    color: white;
}

.footer .div-1 p {
    font-size: 13px!important;
    color: #5D5B62;
    margin-bottom: 0em !important;
}

.footer .div-2 p:nth-child(2) {
    padding-top: 17px;
    margin-bottom: 0em !important;
}

.footer .div-3 {
    color: white;
}

.footer label {
    margin-bottom: 0em;
}

.footer2 {
    background-color: #27262A;
    color: #58565C;
    padding: 10px 0;
    font-size: 15px;
}