.demo-text {
    background-color: #28282c;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: white;
}


